<!DOCTYPE html>
<html>
  <%-include('partials/encabezado.html');%>
  <body>
    <center>
    
    <form action="/pexamen" method="POST">
      <label for="num_boleto">Número de boleto:</label>
      <input type="text" id="num_boleto" name="num_boleto" /><br /><br />

      <label for="destino">Destino:</label>
      <input type="text" id="destino" name="destino" /><br /><br />

      <label for="nombre">Nombre del cliente:</label>
      <input type="text" id="nombre" name="nombre" /><br /><br />

      <label for="edad">Edad:</label>
      <input type="number" id="edad" name="edad" /><br /><br />

      <label for="tipo_viaje">Tipo de viaje:</label>
      <select id="tipo_viaje" name="tipo_viaje">
        <option value="1">Sencillo</option>
        <option value="2">Doble</option>
      </select><br /><br />

      <label for="precio">Precio:</label>
      <input type="number" id="precio" name="precio" /><br /><br />

      <button type="submit">Calcular</button>
      <button type="reset" id="limpiar-formulario" onclick="limpiarCampos()">Limpiar</button>
      
    </form>
  </center>

<center>
    <h1>Resultados del cálculo</h1>
    <% if(typeof precio !== 'undefined'){ %>
    
      <label for="subtotal">Subtotal:</label>
      <input type="number" id="subtotal" name="subtotal" value="<%= subtotal %>" readonly /><br /><br />

      <label for="impuesto">Impuesto (16%):</label>
      <input type="number" id="impuesto" name="impuesto" value="<%= impuesto %>" readonly /><br /><br />

      <label for="descuento">Descuento:</label>
      <input type="number" id="descuento" name="descuento" value="<%= descuento %>" readonly /><br /><br />

      <label for="total">Total a pagar:</label>
      <input type="number" id="total" name="total" value="<%= total %>" readonly /><br /><br />
      
    <% }%>
  </center>
  <%-include('partials/piePagina.html');%>
  <script>
    function limpiarCampos() {
  document.getElementById("num_boleto").value = "";
  document.getElementById("destino").value = "";
  document.getElementById("nombre").value = "";
  document.getElementById("edad").value = "";
  document.getElementById("tipo_viaje").value = "1";
  document.getElementById("precio").value = "";
  document.getElementById("subtotal").value = "";
  document.getElementById("impuesto").value = "";
  document.getElementById("descuento").value = "";
  document.getElementById("total").value = "";
}

  </script>
  </body>
</html>